* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f05c44;
}

.loader {
    width: 60px;
    height: 100px;
    border: 5px solid #fff;
    border-radius: 8px;
    position: relative;
    animation: load 1.5s linear infinite alternate;
}

.loader::after {
    content: "";
    position: absolute;
    top: -16px;
    left: 20%;
    width: 40%;
    height: 5px;
    border: 5px solid #fff;
    border-radius: 3px;
}

@keyframes load {
    0%{
        box-shadow: 0 0 #fff inset;
    }
    100% {
        box-shadow: 0 -100px #fff inset;
    }
}